.card-image {
  width: 100%;
}

.card-container h3 {
  text-align: center;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-dark {
  background-color: #512da8;
}

/* ---------------------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.image-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-container-header img {
  width: 30%;
}
